<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083676290781-b6vm4j1sm4enp3d1clh7nhkqspmf29cg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083676290781-b6vm4j1sm4enp3d1clh7nhkqspmf29cg</string>
	<key>API_KEY</key>
	<string>AIzaSyDbktz-OhZfGVeoBW9swRa9xMRGySp0L1E</string>
	<key>GCM_SENDER_ID</key>
	<string>1083676290781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blueprintnyc.bluebirdapp</string>
	<key>PROJECT_ID</key>
	<string>eca-notifications-messaging</string>
	<key>STORAGE_BUCKET</key>
	<string>eca-notifications-messaging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083676290781:ios:ac5f9ec17a6bca72</string>
	<key>DATABASE_URL</key>
	<string>https://eca-notifications-messaging.firebaseio.com</string>
</dict>
</plist>